<mat-card class="register-card">
  <mat-card-title class="card-title">
    <span class="title-text">Register Benefactor</span>
  </mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Credentials
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="form-row">
            <div class="form-field form-single-field">
              <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input formControlName="username" matInput>
                <mat-error *ngIf="registerForm.get('username')?.hasError('required')">Username is required</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-row">
            <div class="form-field form-paired-field">
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput type="password">
                <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">Password must be at least 6 characters</mat-error>
                <mat-error *ngIf="registerForm.get('password')?.hasError('required')">Password is required</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input formControlName="confirmPassword" matInput type="password">
                <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('required')">Confirm Password is required</mat-error>
                <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('mustMatch')">Passwords must match</mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Profile
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="form-row">
            <div class="form-field form-single-field">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput>
                <mat-error *ngIf="registerForm.get('name')?.hasError('required')">Name is required</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-row">
            <div class="form-field form-single-field">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput>
                <mat-error *ngIf="registerForm.get('email')?.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="registerForm.get('email')?.hasError('email')">Enter a valid email</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-row">
            <div class="form-field form-single-field">
              <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input formControlName="phone" matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="form-row upload-button-row">
            <div class="form-field upload-button-field">
              <input
                type="file"
                hidden
                (change)="onBannerSelected($event)"
                #bannerFileInput
              />
              <button
                type="button"
                mat-raised-button
                [class.image-selected]="bannerToUpload"
                (click)="bannerFileInput.click()"
                class="upload-button"
              >
                Upload Banner
              </button>
            </div>
            <div class="form-field upload-button-field">
              <input
                type="file"
                hidden
                (change)="onLogoSelected($event)"
                #logoFileInput
              />
              <button
                type="button"
                mat-raised-button
                [class.image-selected]="logoToUpload"
                (click)="logoFileInput.click()"
                class="upload-button"
              >
                Upload Logo
              </button>
            </div>
          </div>
          <div class="form-row">
            <div class="form-field form-single-field">
              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea formControlName="description" matInput></textarea>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Address
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="form-row">
            <div class="form-field form-paired-field">
              <mat-form-field appearance="outline">
                <mat-label>Street</mat-label>
                <input formControlName="street" matInput>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input formControlName="city" matInput>
              </mat-form-field>
            </div>
            <div class="form-field form-paired-field">
              <mat-form-field appearance="outline">
                <mat-label>Postal Code</mat-label>
                <input formControlName="postalCode" matInput>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Country</mat-label>
                <input formControlName="country" matInput>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <button [disabled]="!registerForm.valid" class="register-button" color="primary" mat-raised-button type="submit">
        Register
      </button>
      <button class="login-button" mat-button (click)="login()">
        Login
      </button>
    </form>
  </mat-card-content>
</mat-card>
