body {
    background: #dedede;
  }
  
  blockquote {
    border-left: 4px solid;
    margin: 10px 0 25px;
    padding: 10px 10px 10px 20px;
    color: #555;
  }
  
  .container {
    padding: 10px 30px;
  }
  
  .country-container {
    display: flex;
  }
  
  .flag {
    background-size: 50px 30px;
    height: 30px;
    width: 50px;
    display: inline-block;
    margin: 0 10px 0 0;
    flex: 0 0 50px;
  }
  
  .countries {
    width: 90%;
    max-width: 400px;
  }