mat-card {
    margin-bottom: 20px;
    border-radius: 0%;
    background-color: #525252;
  }
  .container {
    background-color: #525252;
  }

  .center-cell {
    text-align: center;
  } 

  .edit{
    background-color: #525252;
  } 