<div>
  <div class="header-container">
    <div class="title-container">
      <h1 class="title">
        Offers
        <span class="leaf-multiplier">(Adicional Points: {{ calculateLeafMultiplier() }})</span>
      </h1>
    </div>
  </div>
  <div *ngIf="offers.length > 0">
    <mat-grid-list cols="{{ gridCols }}" rowHeight="350px">
      <mat-grid-tile *ngFor="let offer of offers">
        <mat-card>
          <mat-card-header
            [ngStyle]="{
              'background-image': getImageUrl(offer)
            }"
            class="banner-header"
          ></mat-card-header>
          <mat-card-content>
            <mat-card-title id="title">{{ offer.title }}</mat-card-title>
            <mat-card-subtitle id="other">
              {{ offer.description }}<br>
              <div class="leafs-display">
                {{ offer.points }}
                <div class="leafs-icon">
                  <mat-icon>eco</mat-icon>
                </div>
              </div>
              {{ formatDate(offer.startDate) }} to {{ formatDate(offer.endDate) }}
            </mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
