<form (ngSubmit)="onSubmit()" [formGroup]="itemForm">
  <label>
    Brand:
    <input formControlName="brand" type="text"><br>
  </label>
  <label>
    Weight Value:
    <input formControlName="weightValue" type="text"><br>
  </label>
  <label>
    Weight Unit:
    <input formControlName="weightUnit" type="text"><br>
  </label>
  <label>
    Size:
    <input formControlName="size" type="text"><br>
  </label>
  <label>
    Type:
    <input formControlName="type" type="text"><br>
  </label>
  <input type="submit" value="Create Item">
</form>
