<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
    <ng-container matColumnDef="brand">
      <th *matHeaderCellDef class="center-cell" mat-header-cell>Brand</th>
      <td *matCellDef="let item" class="center-cell" mat-cell>
        {{ item.brand }}
      </td>
    </ng-container>
    <ng-container matColumnDef="weight">
      <th *matHeaderCellDef class="center-cell" mat-header-cell>Weight</th>
      <td *matCellDef="let item" class="center-cell" mat-cell>
        {{ item.weight.value }} {{ item.weight.unit }}
      </td>
    </ng-container>
    <ng-container matColumnDef="size">
      <th *matHeaderCellDef class="center-cell" mat-header-cell>Size</th>
      <td *matCellDef="let item" class="center-cell" mat-cell>
        {{ item.size }}
      </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th *matHeaderCellDef class="center-cell" mat-header-cell>Type</th>
      <td *matCellDef="let item" class="center-cell" mat-cell>
        {{ item.type }}
      </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
  <button (click)="navigateToCreateItem()" color="primary" mat-raised-button>
    Add Item
  </button>
  <button (click)="finalize()" color="primary" mat-raised-button>
    Finalize
  </button>
</div>
