table {
    width: 100%;
}
td:last-child, th:last-child {
  width: 0%;
}
table {
    width: 100%;
}

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top:15px;
  color: white;
}

td:last-child, th:last-child {
  width: 0%;
}

table {
  width: 100%;
}

td:last-child, th:last-child {
width: 0%;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

mat-card {
  margin-bottom: 20px;
  border-radius: 0%;
  background-color: #525252;
}

.leafs-display {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.leafs-icon {
  display: flex;
  align-items: center;
}

.leafs-icon mat-icon {
  color: green;
}

.leafs-display h2 {
  margin: 0;
}