.form-paired-field {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px; /* Adjust the gap between columns */
}

.form-single-field {
  display: grid;
  grid-column-gap: 20px;
}
.mat-form-field {
  width: auto;
}

.card-title {
  display: flex;
  justify-content: center;
  padding: 15px 15px 15px 15px;
}

.title-text {
  font-size: 30px; /* Adjust the font size as needed */
  font-weight: bold;
  color: #ffffff; /* Adjust the color as needed */
}

.register-button {
  width: 100%; /* Make the button expand to full width */
  font-size: 16px; /* Increase the font size */
  padding: 12px 24px; /* Increase the padding to make the button larger */
}
