<mat-card class="register-card">
  <mat-card-title class="card-title">
    <span class="title-text">User Login</span>
  </mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div class="form-row">
        <div class="form-field form-single-field">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input formControlName="username" matInput>
            <mat-error *ngIf="loginForm.get('username')?.hasError('required')">Username is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="form-field form-single-field">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput type="password">
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <button [disabled]="!loginForm.valid" class="login-button" color="primary" mat-raised-button type="submit">Login
      </button>
    </form>
    <button  class="register-button" (click)="register()" mat-button >Register</button>
  </mat-card-content>
</mat-card>
