<mat-card>
  <mat-card-content>
  <div class="mat-elevation-z8">
    <table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      mat-table
      multiTemplateDataRows
    >
      <ng-container matColumnDef="expand">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let donation" mat-cell>
          <button
            (click)="
              expandedElement = expandedElement === donation ? null : donation
            "
            mat-icon-button
          >
            <mat-icon>{{
                expandedElement === donation
                  ? "keyboard_arrow_up"
                  : "keyboard_arrow_down"
              }}
            </mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="benefactorName">
        <th *matHeaderCellDef class="center-cell" mat-header-cell>
          Benefactor Name
        </th>
        <td *matCellDef="let donation" class="center-cell" mat-cell>
          {{ donation.benefactorName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="pickpointAddress">
        <th *matHeaderCellDef class="center-cell" mat-header-cell>
          Pickpoint Address
        </th>
        <td *matCellDef="let donation" class="center-cell" mat-cell>
          {{ donation.pickpointAddress }}
        </td>
      </ng-container>
      <ng-container matColumnDef="items">
        <th *matHeaderCellDef class="center-cell" mat-header-cell>Items</th>
        <td *matCellDef="let donation" class="center-cell" mat-cell>
          {{ donation.details.items.length }}
        </td>
      </ng-container>
      <ng-container matColumnDef="weight">
        <th *matHeaderCellDef class="center-cell" mat-header-cell>
          Total Weight
        </th>
        <td *matCellDef="let donation" class="center-cell" mat-cell>
          {{ donation.details.totalWeight }}
        </td>
      </ng-container>
      <ng-container matColumnDef="points">
        <th *matHeaderCellDef class="center-cell" mat-header-cell>
          Points
        </th>
        <td *matCellDef="let donation" class="center-cell" mat-cell>
          {{ donation.details.points ?  donation.details.points : 'N/A' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="timeStamp">
        <th *matHeaderCellDef class="center-cell" mat-header-cell>
          Creation Date
        </th>
        <td *matCellDef="let donation" class="center-cell" mat-cell>
          {{ formatTimestamp(donation.timestamp) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th *matHeaderCellDef class="center-cell" mat-header-cell>Status</th>
        <td *matCellDef="let donation" class="center-cell" mat-cell>
          <span [attr.data-status]="donation.status.toLowerCase().replace(' ', '')">
            {{ donation.status }}
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <td
          *matCellDef="let donation"
          [attr.colspan]="displayedColumns.length"
          mat-cell
        >
          <div *ngIf="expandedElement === donation" class="element-detail">
            <h3>Items</h3>
            <table
              [dataSource]="donation.details.items"
              class="inner-table"
              mat-table
            >
              <ng-container matColumnDef="brand">
                <th *matHeaderCellDef class="center-cell" mat-header-cell>
                  Brand
                </th>
                <td *matCellDef="let item" class="center-cell" mat-cell>
                  {{ item.brand }}
                </td>
              </ng-container>
              <ng-container matColumnDef="weight">
                <th *matHeaderCellDef class="center-cell" mat-header-cell>
                  Weight
                </th>
                <td *matCellDef="let item" class="center-cell" mat-cell>
                  {{ item.weight.value }} {{ item.weight.unit }}
                </td>
              </ng-container>
              <ng-container matColumnDef="size">
                <th *matHeaderCellDef class="center-cell" mat-header-cell>
                  Size
                </th>
                <td *matCellDef="let item" class="center-cell" mat-cell>
                  {{ item.size }}
                </td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th *matHeaderCellDef class="center-cell" mat-header-cell>
                  Type
                </th>
                <td *matCellDef="let item" class="center-cell" mat-cell>
                  {{ item.type }}
                </td>
              </ng-container>

              <tr
                *matHeaderRowDef="['brand', 'weight', 'size', 'type']"
                mat-header-row
              ></tr>
              <tr
                *matRowDef="let row; columns: ['brand', 'weight', 'size', 'type']"
                mat-row
              ></tr>
            </table>
          </div>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr
        *matRowDef="let row; columns: displayedColumns"
        [class.expanded-row]="expandedElement === row"
        mat-row
      ></tr>
      <tr
        *matRowDef="let row; columns: ['expandedDetail']"
        [class.detail-row]="expandedElement === row"
        [class.hidden-row]="expandedElement !== row"
        mat-row
      ></tr>
    </table>
  </div>
</mat-card-content>
</mat-card>
