<mat-card class="create-post-card">
    <mat-card-title class="card-title">
      <span class="title-text">Create a Post</span>
    </mat-card-title>
    <mat-card-content class="mat-content">
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="form-row">
          <div class="form-field form-single-field">
            <mat-form-field appearance="outline">
              <mat-label>Title</mat-label>
              <input formControlName="title" matInput type="text">
              <mat-error *ngIf="f['title'].errors?.['required'] && submitted">Title is a required field.</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-row">
          <div class="form-field form-single-field">
            <mat-form-field appearance="outline">
              <mat-label>Content</mat-label>
              <textarea formControlName="content" matInput></textarea>
              <mat-error *ngIf="f['content'].errors?.['required'] && submitted">Content is a required field.</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-row">
          <div class="form-field upload-button-field">
            <input
              type="file"
              hidden
              (change)="onFileSelected($event)"
              #fileInput
            />
            <button
              type="button"
              mat-raised-button
              [class.image-selected]="fileToUpload"
              (click)="fileInput.click()"
              class="upload-button"
            >
              Upload Image
            </button>
          </div>
        </div>
        <div class="form-row">
          <button [disabled]="!form.valid" class="create-post-button" color="primary" mat-raised-button type="submit">
            Submit
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
