@if (benefactor != undefined) {

  <div class="container">
    <mat-card>
      <mat-card-header
        id="banner-header"
        [ngStyle]="{
        'background-image': benefactor.banner
          ? 'url(' + benefactor.banner + ')'
          : 'url(https://api.dicebear.com/8.x/shapes/svg?seed=' +
            benefactor.phone +
            ')'
      }"
        class="banner-header"
      >
      </mat-card-header>
      <mat-card-content>
        <div
          aria-colindex="1"
          mat-card-avatar
          [ngStyle]="{
          'background-image': benefactor.logo
            ? 'url(' + benefactor.logo + ')'
            : 'url(https://api.dicebear.com/8.x/shapes/svg?seed=' +
              benefactor.email +
              ')'
        }"
          class="avatar"
        ></div>
        <div class="title-button-container">
          <mat-card-title id="name">{{ benefactor.name }}</mat-card-title>
          <div>

            @if (benefactorId == benefactor._id) {

              <button id="editProfile" mat-raised-button (click)="addPost(benefactor._id)">
                <mat-icon>add</mat-icon>
                Add Post
              </button>
              <button id="editProfile" mat-raised-button (click)="editProfile(benefactor._id)">
                <mat-icon>edit</mat-icon>
                Edit Profile
              </button>
            }
            <button
              id="addDonation"
              mat-raised-button
              color="primary"
              (click)="addDonation(benefactor._id)"
            >
              <mat-icon>add</mat-icon>
              Donation
            </button>
          </div>
        </div>
        <mat-card-subtitle id="address"
        >{{
            benefactor.address.street +
            ", " +
            benefactor.address.city +
            ", " +
            benefactor.address.country +
            ", " +
            benefactor.address.postalCode
          }}
          <p id="points">
            {{
              benefactor.conversionRatio.value +
              benefactor.conversionRatio.weightMetric +
              " = " +
              benefactor.conversionRatio.points +
              " Points"
            }}
          </p></mat-card-subtitle
        >
        <mat-card-subtitle id="description">{{
            benefactor.description
          }}
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="posts-container">
    <mat-grid-list cols="{{gridCols}}">
      <mat-grid-tile *ngFor="let post of posts" class="post-tile">
        <div class="square-wrapper">
          <mat-card class="posts">
            <mat-card-header
              [ngStyle]="{
              'background-image': 'url(https://picsum.photos/500/500)'
            }"
              class="banner-header"
            >
            </mat-card-header>
            <mat-card-content id="body">
              <div class="title-actions-container">
                <div class="title-actions">
                  <mat-card-subtitle id="title">{{
                      post.title
                    }}
                  </mat-card-subtitle>
                  <mat-card-actions>
                    <button
                      mat-raised-button
                      color="primary"
                      (click)="openDialog(post)"
                    >
                      VIEW
                    </button>
                  </mat-card-actions>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

} @else {

  <div class="error-container">
    <div class="error-message">
      <h2>Error</h2>
      <p>Error loading Profile</p>
    </div>
  </div>
}
