@if (benefactor != undefined) {

  <div class="container">
    <mat-card>
      <mat-card-header
        id="banner-header"
        [ngStyle]="{
    'background-image': getBannerUrl()
}"
        class="banner-header"
      >
      </mat-card-header>
      <mat-card-content>
        <div
          aria-colindex="1"
          mat-card-avatar
          [ngStyle]="{
    'background-image': getLogoUrl()
}"
          class="avatar"
        ></div>
        <div class="title-button-container">
          <mat-card-title id="name">{{ benefactor.name }}</mat-card-title>
          <div>

            @if (benefactorId == benefactorId) { <!--MUDAR AQUI ATENCAO-->

              <button class="benefactor-button" mat-raised-button (click)="openAddPost(benefactor)">
                <mat-icon>add</mat-icon>
                Add Post
              </button>
              <button class="benefactor-button" mat-raised-button (click)="openEditProfile(benefactor)">
                <mat-icon>edit</mat-icon>
                Edit Profile
              </button>
            }
            <button
              id="addDonation"
              mat-raised-button
              color="primary"
              (click)="addDonation()"
            >
              <mat-icon>add</mat-icon>
              Donation
            </button>
          </div>
        </div>
        <mat-card-subtitle id="address"
        >{{
            benefactor.address.street +
            ", " +
            benefactor.address.city +
            ", " +
            benefactor.address.country +
            ", " +
            benefactor.address.postalCode
          }}
          <p id="points">
            {{
              benefactor.conversionRatio.value +
              benefactor.conversionRatio.weightMetric +
              " = " +
              benefactor.conversionRatio.points +
              " Points"
            }}
          </p></mat-card-subtitle
        >
        <mat-card-subtitle id="description">{{
            benefactor.description
          }}
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="posts-container">
    <mat-grid-list cols="{{gridCols}}">
      <mat-grid-tile *ngFor="let post of posts" class="post-tile">
        <div class="square-wrapper">
          <mat-card class="posts">
            <mat-card-header
              [ngStyle]="{
              'background-image': 'url(https://picsum.photos/500/500)'
            }"
              class="banner-header"
            >
            </mat-card-header>
            <mat-card-content id="body">
              <div class="title-actions-container">
                <div class="title-actions">
                  <mat-card-subtitle id="title">{{
                      post.title
                    }}
                  </mat-card-subtitle>
                  <mat-card-actions>

                     @if (benefactorId == benefactorId) {

                    <button
                    class="benefactor-button"
                      mat-raised-button
                      (click)="openEditPost(post)"
                    >
                    <mat-icon>edit</mat-icon>
                    Edit
                    </button>

                  }

                    <button
                      mat-raised-button
                      color="primary"
                      (click)="openPost(post)"
                    >
                      VIEW
                    </button>
                  </mat-card-actions>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  @if (benefactor._id == benefactorId){
  <app-list-waiting-donations></app-list-waiting-donations>
}

} @else {

  <div class="error-container">
    <div class="error-message">
      <h2>Error</h2>
      <p>Error loading Profile</p>
    </div>
  </div>
}
