<mat-card class="create-offer-card">
  <mat-card-title class="card-title">
    <span class="title-text">Create an Offer</span>
  </mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="form-row">
        <div class="form-field form-paired-field">
          <mat-form-field appearance="outline">
            <input formControlName="startDate" matInput type="date">
            <mat-error *ngIf="f['startDate'].errors?.['required'] && submitted">Field is required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input formControlName="endDate" matInput type="date">
            <mat-error *ngIf="f['endDate'].errors?.['required'] && submitted">Field is required</mat-error>
            <mat-error *ngIf="f['endDate'].errors?.['mustBeGreater'] && submitted">Field must be greater than
              startDate
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="form-field form-single-field">
          <mat-form-field appearance="outline">
            <input formControlName="title" matInput type="text">
            <mat-error *ngIf="f['title'].errors?.['required'] && submitted">Title is a required field.</mat-error>
            <mat-error *ngIf="f['title'].errors?.['minlength'] && submitted">Title must have a min length of 6
              characters
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="form-field form-single-field">
          <mat-form-field appearance="outline">
            <textarea formControlName="description" matInput></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="form-field form-single-field">
          <mat-form-field appearance="outline">
            <input formControlName="points" matInput type="number">
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="form-field form-single-field">
          <input type="file" (change)="onFileSelected($event)">
        </div>
      </div>
      <button [disabled]="!form.valid" class="create-offer-button" color="primary" mat-raised-button type="submit">
        Submit
      </button>
    </form>
  </mat-card-content>
</mat-card>
