<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button (click)="home()"><mat-icon>eco</mat-icon>Recicla Têxtil</button>
      <span class="spacer"></span>
      <button mat-button (click)="store()"><mat-icon>shopping_cart</mat-icon>Store</button>
      <button mat-button (click)="benefactors()"><mat-icon>apartment</mat-icon>Benefactors</button>
      <button mat-button (click)="profile()"><mat-icon>person</mat-icon>Profile</button>
      <button mat-button (click)="logout()"><mat-icon>logout</mat-icon>Log Out</button>
    </mat-toolbar-row>
  </mat-toolbar>
