.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 300px;
    padding: 10px;
  }
  
  .container h1 {
    color: white;
  }
  
  .container h2 {
    color: rgb(145, 145, 145);
  }
  
  .container button {
    margin-top: 20px;
    align-self: flex-end;
  }